<!DOCTYPE html>
<html>
  <head>
    <title>CanDevise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
  <ul>
    <li>
      <%= link_to "Editar Usuario", edit_user_registration_path  %>
    </li>
    <li>
      <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
  <% else %>
  <ul>
    <li>
      <%= link_to "Ingresar", new_user_session_path  %>
    </li>
    <li>
      <%= link_to "Registrarse", new_user_registration_path %>
    </li>
  </ul>
<% end %>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
